body{
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 25px;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
	    color: #d25f4f;
	}
}

.slide {
	background-color: #ffffff;
	width: 100%;

	.content {
		padding: 30px 100px 0 100px;
	}

	h2, h3 {
		color: black;
		text-align: center;
	}
}

.home {
	background-color: #141414;
	background-size: 100% auto;
	height: 100%;
	min-height: 400px;

	.content {
		width: 70%;
		position: relative;
		top: 30%;
		left: 15%;
		overflow: hidden;
		max-width: 900px;
		padding: 0px;
		text-align: center;

		.circle {
			border-radius: 50%;
			width: 250px;
			height: 250px;
			background-color: red;
		}
	}

	h1 {
		font-size: 100px;
		color: #d25f4f;
		margin-bottom: 5px;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
	}

	h2, h3 {
		color: white;
		font-family: 'Oswald', sans-serif;
		font-size: 30px;
		color: #fff;
	}

	ul{
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
		}

		li a{
			text-decoration: none;
		}
	}

	.twitter{
		background-color: #000000;
		background-image: url('../img/twitter-64.png');
	}

	.mail{
		background-color: #000000;
		background-image: url('../img/email-64.png');
	}

	.github{
		background-color: #000000;
		background-image: url('../img/github-64.png');
	}

	.linkedin{
		background-color: #000000;
		background-image: url('../img/linkedin-64.png');
	}
}

.job {
	// background-color: #e6e6e6;
}

.education {
	// background-color: #e6e6e6;
}

.passions {
	// background-color: #e6e6e6;
}

/* Job Section */
.job section{
	img.main {
		float: left;
		margin-right: 15px;
		background-color: #f7f7f7;
	}

	ul{
		list-style: none;
		padding-left: 0;
		margin-left: 165px;
	}

	p{
		margin-left: 165px;
	}
}