body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
p {
  line-height: 25px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #d25f4f;
}
.slide {
  background-color: #ffffff;
  width: 100%;
}
.slide .content {
  padding: 30px 100px 0 100px;
}
.slide h2,
.slide h3 {
  color: black;
  text-align: center;
}
.home {
  background-color: #141414;
  background-size: 100% auto;
  height: 100%;
  min-height: 400px;
}
.home .content {
  width: 70%;
  position: relative;
  top: 30%;
  left: 15%;
  overflow: hidden;
  max-width: 900px;
  padding: 0px;
  text-align: center;
}
.home .content .circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: red;
}
.home h1 {
  font-size: 100px;
  color: #d25f4f;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.home h2,
.home h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #fff;
}
.home ul {
  list-style: none;
  padding-left: 0;
}
.home ul li {
  display: inline-block;
}
.home ul li a {
  text-decoration: none;
}
.home .twitter {
  background-color: #000000;
  background-image: url('../img/twitter-64.png');
}
.home .mail {
  background-color: #000000;
  background-image: url('../img/email-64.png');
}
.home .github {
  background-color: #000000;
  background-image: url('../img/github-64.png');
}
.home .linkedin {
  background-color: #000000;
  background-image: url('../img/linkedin-64.png');
}
/* Job Section */
.job section img.main {
  float: left;
  margin-right: 15px;
  background-color: #f7f7f7;
}
.job section ul {
  list-style: none;
  padding-left: 0;
  margin-left: 165px;
}
.job section p {
  margin-left: 165px;
}
